.wallet-balance-container {
    background-color: #9b9b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 35px 25px;
    font-size: 30px;
    border-radius: 20px;
}

.wallet-balance-container > .wallet-balance > span {
    color: #9dff5b;
}

.wallet-balance-container > button {
    background: linear-gradient(#b3dd52, #9dff5b);
    border: none;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 25px;
    cursor: pointer;
}
